// Define variables for your color scheme

// For example:

$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// Nossa paleta de cores

$verde-agua: #12e2a3;
$marronzinho: #9c6644;
$azul-claro: #5463ff;
$azul-royal: #084594;
$amarelo: #ffd32d;
$branco: #fff;

/////////

$bgColor: #020438;
$boxColor: #020438;
$waterFColor: #4d6de3;
$waterBColor: #c7eeff;
