// Define variables for your color scheme

// For example:

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Nossa paleta de cores

$verde-agua: #12E2A3;
$marronzinho: #9C6644;
$azul-claro: #5463FF;
$azul-royal: #084594;
$amarelo: #FFD32D;
$branco: #FFF;
