<h1>all my stuff</h1>

<div class="container-stuffs">
  <div class="row">
    <div class="cards my-4">
      <% @stuffs.each do |stuff| %>
        <%= link_to stuff do %>
        <div class="teste_imagem"> <%= cl_image_tag(stuff.photos.first.key, height: 150, width: 150, crop: :fill )%>
          <p class= "detail"><span class=""><%=stuff.name%></span></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
