<h1 class="title">all my stuff</h1>


<%#= @stuffs.each do |stuff| %>
  <%#= stuff.name  %>
  <%#= stuff.description%>
<%# end %>

<div class="container-stuffs">
  <div class="row">
    <div class="cards my-4">
      <% @stuffs.each do |stuff| %>
        <%= link_to stuff do %>
        <div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= cl_image_path(stuff.photos.first.key)%>)">
          <p class= "detail">name: <span class=""><%=stuff.name%></p></span>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
