<div class="container-main">

  <div class="container-see-my-stuff">
   <% @stuff.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, class: "my-see-stuff" %>
    <%end%>

  </div>

    <div class="container-my-description">
      <div>
        <p class="their-title">what is it?</p>
        <p class="their-description">Lorem Ipsum</p>
      </div>
      <div>
        <p class="their-title">details</p>
        <p class="their-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula ut diam feugiat accumsan. Maecenas erat justo, interdum ut justo in, maximus elementum velit. Nulla facilisi. Maecenas magna nisi, viverra id enim fringilla, fermentum convallis elit. Proin purus nibh, accumsan eu nisi nec, elementum efficitur lorem. Suspendisse varius laoreet libero at commodo. Pellentesque quis justo elit. In ac libero vel ex pellentesque ultrices nec sit amet eros. Vestibulum luctus id sapien at tincidunt. Praesent facilisis nulla nec felis lacinia, quis porta eros pellentesque. Nunc porta, risus et feugiat auctor, erat orci posuere leo, et pulvinar arcu turpis eget mi. Ut non enim id sem facilisis porta. Fusce diam neque, viverra in ultricies sit amet, tempus eget nisl. Nam vehicula laoreet elit, ut dapibus lacus tempus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="botoes">
        <%= link_to 'edit', edit_stuff_path, class: "button-04"%>
        <%= link_to 'delete', stuff_path(@stuff), method: 'DELETE', class: "button-04", data: { confirm: "are you sure?" } %>
      </div>
    </div>

</div>
