.back-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #111;
  height: 87.5vh;
  position: relative;
}

.back-marrom {
  background-color: #9c6644;
  position: absolute;
  height: 46vh;
  width: 100%;
  top: 0px;
  opacity: 0.65;
}

.slogan {
  letter-spacing: 0.3rem;
  color: #fff;
  font-family: "Sen", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 22px;
  z-index: 10;
  text-align: center;
  vertical-align: bottom;
}

.back-folha {
  position: absolute;
  background-image: url(folha-fundo.jpg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  max-width: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.cont-clocks {
  display: flex;
  width: 80%;
  justify-content: space-around;
  position: absolute;
  bottom: 55px;
}

.clock {
  height: 190px;
  width: 190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clock:hover {
  transition: 0.7s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}
