@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.botao-iniciar-conversa {
  position: absolute;
  top: 27vh;
  left: 5vw;
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 9vw;
  color: #5463ff;
  -webkit-text-stroke-color: #ffd32d;
  -webkit-text-stroke-width: 4px;
  text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 30000;
  cursor: pointer;
  width: 250px;
  text-decoration: none;
  transform: rotate(-30deg);
  line-height: 0.98;
  opacity: 0.75;
  &:hover {
    color: #ffd32d;
    -webkit-text-stroke-color: #5463ff;
    transform: scale(1.05);
    opacity: 1;
  }
}

.botao-continuar-swap {
  position: absolute;
  top: 25vh;
  right: 5vw;
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 9vw;
  color: #5463ff;
  -webkit-text-stroke-color: #ffd32d;
  -webkit-text-stroke-width: 4px;
  text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 30000;
  cursor: pointer;
  width: 330px;
  text-decoration: none;
  transform: rotate(30deg);
  line-height: 0.98;
  opacity: 0.75;
  &:hover {
    color: #ffd32d;
    -webkit-text-stroke-color: #5463ff;
    transform: scale(1.05);
    opacity: 1;
  }
}

.container-main {
  height: 87.3vh;
  width: 100%;
  display: flex;
  position: relative;
}

.swap-it {
  font-family: "Bangers", cursive;
  position: absolute;
  text-align: center;
  left: 27.5vw;
  top: 20vh;
  font-size: 15vw;
  color: #ffd32d;
  opacity: 0.9;
  z-index: 5000;
  -webkit-text-stroke-color: #5463ff;
  -webkit-text-stroke-width: 7px;
  text-shadow: 20px 30px 10px rgba(0, 0, 0, 0.5);
}

.swap-it-none {
  display: none;
}

.container-my-stuff {
  width: 30%;
  height: 87.3vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  padding: 40px 40px;
  gap: 30px;
}

.bola {
  margin-top: 4px;
  margin-bottom: 33px;
  margin-left: 60px;
}

.bola > img {
  width: 225px;
  height: 225px;
  object-fit: cover;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    transform: scale(1.025);
  }
}

.quadrado {
  width: 250x;
  height: 240px;
  border: 7px solid #5463ff;
  border-radius: 5px;
  z-index: 3000;
}

form abbr[title] {
  display: none;
}

input[type="radio"] {
  display: none;
}

.container-likes {
  height: 87.3vh;
  width: 40%;
  position: relative;
}

.their-stuff {
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.altura-cont {
  height: 87.3vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#like-btn {
  position: absolute;
  width: 25%;
  right: 60px;
  bottom: 40px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  z-index: 10;
  opacity: 0.45;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    opacity: 0.85;
  }
}

#dislike-btn {
  position: absolute;
  width: 25%;
  left: 60px;
  bottom: 40px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  z-index: 10;
  opacity: 0.45;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    opacity: 0.85;
  }
}

.container-description {
  height: 87.3vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 30px 30px;
  direction: rtl;
}

.their-title {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: #5463ff;
  font-family: "Sen", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.their-description {
  width: 100%;
  color: #084594;
  margin: 0 auto 20px;
  text-align: left;
  font-weight: 400;
  color: #111;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $azul-claro;
  opacity: 0.4;
}
