.container-stuffs {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagem {
  position: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: #111;
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin: 4rem;
}

.detail {
  width: 100%;
  max-width: 100%;
  text-decoration: none;
  // background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 5px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #5463ff;
  font-family: "Sen", sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  overflow-wrap: break-word;
}
