.container-see-my-stuff {
  // background-color: #111;
  width: 50%;
  height: 87.3vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  padding: 60px 30px;
  gap: 40px;
}

.container-my-description {
  height: 87.3vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 40px 60px;
}

.my-see-stuff {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  border-radius: 1px;
  z-index: 50;
  &:hover {
    transform: scale(1.3);
  }
}

a .botoes-azuis {
  // background: none;
  color: $azul-claro;
  border-width: 2px;
  border-color: $azul-royal $verde-agua $verde-agua $azul-royal;
  font-size: 18px;
  font-weight: 700;
}
