.container-index-chats {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-between;
  // padding-top: 1.5rem;
  // padding-bottom: 1.5rem;
  overflow-y: scroll;
  height: 87.5vh;
}

.o-match {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 150px;
}

.what-mine {
  position: relative;
  width: 160px;
}

.what-their {
  position: relative;
  width: 160px;
}

.theirs {
  position: absolute;
  top: 160px;
  left: 18px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #084594;
  font-family: "Sen", sans-serif;
  font-size: 14px;
  text-align: center;
  z-index: 20;
  opacity: 1;
  // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  // -webkit-text-stroke-width: 0.5px;
  // -webkit-text-stroke-color: #111;
  cursor: pointer;
  // &:hover {
  //   opacity: 1;
  // }
}

.avatar-chats-their {
  width: 150px;
  border-radius: 2px;
  box-shadow: -2.5px 2.5px 2.5px rgba(0, 0, 0, 0.25);
  border: 2px solid #084594;
  position: absolute;
  left: -20px;
}
.chat-icon {
  position: absolute;
  width: 50px;
  // background-image: url("../../../images/chat-icon.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  top: -20px;
  right: -150px;
  z-index: 50;
  opacity: 1;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.avatar-chats-mine {
  width: 150px;
  border-radius: 2px;
  box-shadow: -2.5px 2.5px 2.5px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(156, 102, 68, 0.9);
  position: absolute;
  left: 20px;
  top: 35px;
  &:hover {
    // transform: scale(1.02);
  }
}
