<div class="footer">
  <div class="footer-links">
    <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    Le Wagon Web Dev Bootcamp | Batch 830. Demo Day Project | São Paulo, Brazil
  </div>

  <div class="footer-links">
    <a href="#">Mission</a> |
    <a href="#">Vision</a> |
    <a href="#">Values</a>
  </div>

</div>
