<div class="footer">
  <div class="footer-links">
    <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook" target="_blank"></i></a>
    <a href="#"><i class="fab fa-twitter" target="_blank"></i></a>
    <a href="#"><i class="fab fa-youtube" target="_blank"></i></a>
  </div>
  <div class="footer-copyright">
    le wagon web dev bootcamp | batch 830. demo day project | são Paulo, brazil
  </div>

  <div class="footer-links">
    <a href="#">mission</a> |
    <a href="#">vision</a> |
    <a href="#">values</a>
  </div>

</div>
