<div class="footer">

  <div class="footer-links">
    <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>

  <div class="footer-copyright">
    le wagon web dev bootcamp | batch 830. demo day project | são paulo, brazil
  </div>

  <div class="footer-links">
    <a href="#">mission</a>
    <a href="#">vision</a>
    <a href="#">values</a>
  </div>

</div>
