<div class="about_us">

  <div class="about_me">
    <div class="logo-e-avatar">
      <%=image_tag "ricardo.jpg",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc">Formado em Design Industrial - Design de Produto - desde 2005 pela Universidade Mackenzie, tenho experiência internacional<br>em projetos técnicos e visuais de relativa complexidade. Vivo em Itu/SP e sei jogar xadrez.</p>
      <div class="media">
        <a id="icone_media" href="https://github.com/ricardofortepace" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="http://www.linkedin.com/in/ricardofortepace" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com/ricardofortepace" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="about_me_invert">
    <div class="logo-e-avatar">
      <%=image_tag "leo.jpg",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc text-end">Meu nome é Leonardo, tenho 20 anos, ja tentei fazer 2 faculdades de engenharia e recentemente descobri o ramo da internet <br>e me aprofundei desde entao, descobri o le wagon e aqui estamos.</p>
      <div class="media_reverse">
        <a id="icone_media" href="https://github.com/LeoReigota20" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="http://www.linkedin.com/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com/leoreigota" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

   <div class="about_me">
    <div class="logo-e-avatar">
      <%=image_tag "claudio2.JPG",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc">Sou o Claudio Ferreira, dentista, que decidi mudar de área para uma maior independencia e mudança em qualidade de vida.<br>Já morei em Portugal, Russia e Malta.</p>
      <div class="media">
        <a id="icone_media" href="https://github.com/ClaudioFerreir" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="http://www.linkedin.com/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com/claudioferreira.jr" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="about_me_invert">
    <div class="logo-e-avatar">
      <%=image_tag "vinicius.png",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc text-end">Hi, I am Vinicius Miki. I am passionate about web development and I'm very excited to meet people whoare excited to develop <br>the web world as well.</p>
      <div class="media_reverse">
        <a id="icone_media" href="https://github.com/ViniciusMiki" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="http://www.linkedin.com/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>



</div>
