<div class="about_us">

  <div class="about_me">
    <div class="logo-e-avatar">
      <%=image_tag "ricardo_2.jpg",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc"><strong>Ricardo Forte Pace | yob. 1983 | São Paulo - Brazil</strong><br>Industrial and Graphic Designer graduated at Mackenzie University - São Paulo/Brazil, since 2005. In the past had the oportunity to live and work as a designer in Brazil, USA, England and Portugal - I'm pretty sure I took the most of it. Now living back in Brazil, and as I am passionate about the What/How/Why of things, I'm keen to work as a Full Stack programmer - mostly focused in Front End. In short, that's how I took the decision of doing Le Wagon and why you are looking at this website as it is. See? What/How/Why. Can't help it. :)</p>
      <div class="media">
        <a id="icone_media" href="https://github.com/ricardofortepace" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="http://www.linkedin.com/in/ricardofortepace" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com/ricardofortepace" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="about_me_invert">
    <div class="logo-e-avatar">
      <%=image_tag "leo.jpg",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc text-end"><strong>Leonardo Reigota | yob. 2001 | São Paulo - Brazil</strong><br>My name is Leonardo, i'm 20 year old, i already tried to do 2 engineering faculties and recently discovered the internet branch<br>and i've since delved deeper, discovered Le Wagon and here we are.</p>
      <div class="media_reverse">
        <a id="icone_media" href="https://github.com/LeoReigota20" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="https://www.linkedin.com/in/leo-reigota-40bb57234/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com/leoreigota" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

   <div class="about_me">
    <div class="logo-e-avatar">
      <%=image_tag "claudio2.JPG",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc"><strong>Cláudio Ferreira Jr. | yob. 1980 | Salvador - Brazil</strong><br>Dentist and Engineer in Renewable Energy, after living and working in Brazil, Portugal, Russia and Malta I decided to become a web developer in order to help people on being more independent and reach to a higher life quality. Le Wagon is my first step towards a new, and fascinating, conected world.</p>
      <div class="media">
        <a id="icone_media" href="https://github.com/ClaudioFerreir" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="https://pt.linkedin.com/in/cl%C3%A1udio-ferreira-j%C3%BAnior-186779118/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com/claudioferreira.jr" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="about_me_invert">
    <div class="logo-e-avatar">
      <%=image_tag "vinicius2.png",class:"avatar_about"%>
    </div>
    <div class="cont-dec">
      <p class="desc text-end"><strong>Vinicius Mikki | yob. 1991 | São Paulo - Brazil</strong><br>I am passionate about web development and I'm very excited to meet people whoare excited to develop the web world as well.</p>
      <div class="media_reverse">
        <a id="icone_media" href="https://github.com/ViniciusMiki" target="_blank"><i class="lni lni-github-original"></i></a>
        <a id="icone_media" href="http://www.linkedin.com/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
        <a id="icone_media" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>



</div>
