<div class="back-cont">
  <div class="back-folha"></div>
  <div class="back-marrom"></div>
  <h1 class="slogan">saving the world, swipe by swipe.</h1>
  <div class="cont-clocks">
    <%= image_tag "clock1.png", class:"clock" %>
    <%= image_tag "clock2.png", class:"clock" %>
    <%= image_tag "clock3.png", class:"clock" %>
    <%= image_tag "clock4.png", class:"clock" %>
  </div>
</div>
