.alert {
  color: #111;
  bottom: 20px;
  right: 15px;
  font-family: "Sen", sans-serif;
  font-size: 14px;
  width: 15%;
  opacity: 0.75;
  z-index: 5000;
  position: absolute;
}

.alert-info {
  background-color: #12e2a3;
}

.alert-warning {
  background-color: #ff0000;
}
