.button-04 {
  background: none;
  color: $azul-claro;
  border-width: 2px;
  border-color: $azul-royal $verde-agua $verde-agua $azul-royal;
  border-radius: 20;
  width: 100%;
  &:hover {
    color: $branco;
    background-color: $azul-claro;
    border-color: $verde-agua $azul-royal $azul-royal $verde-agua;
  }
}
