.button-04 {
  // background: none;
  color: $azul-claro;
  border-width: 2px;
  border-color: $azul-royal $verde-agua $verde-agua $azul-royal;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    color: $branco;
    background-color: $azul-claro;
    border-color: $verde-agua $azul-royal $azul-royal $verde-agua;
  }
}

.button-detail,
.form-check-label {
  color: $azul-claro;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.form-check-input:checked {
  background-color: $verde-agua;
  border-color: #0d6efd;
}

