.cards {
  //border-style: solid;
  //border-color: $azul-claro;
  //border-radius: 10px;
}


.card-text {
  position: relative;
  text-align: right;
  bottom: 25px;
  right: 20px;
  color: white;
  text-shadow: -1px 0 black;
  text-decoration:none;
}
