@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #5463ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0px 25px;
  font-family: "Sen", sans-serif;
  z-index: 20;
}

.footer-links {
  display: flex;
  align-items: center;
  font-size: 25x;
}
.footer-links a {
  color: white;
  //opacity: 0.9;
  text-decoration: none;
  padding: 0px 10px;
  font-weight: 700;
}

.footer-copyright {
  margin: auto;
}
