legend ~ div.form-check:first-of-type {
  clear: left;
}

.form-swapit {
  width: 33%;
  // color: $azul-claro;
}

.form-swapit-2 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 10px;
}

.form-swapit-2b {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 10px;
  margin-top: 35px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="file"],
input {
  // text-align: center;
  border-color: $azul-claro;
  // color: $azul-claro;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="file"]:focus,
input:focus {
  border-color: $azul-royal;
  color: $azul-royal;
}

.title {
  font-size: 25px;
  color: $azul-royal;
  text-align: left;
}

.container-formularios-simples {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
  max-height: 87vh;
}

// .container-formularios-simples-up {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 87vh;
//   max-height: 87vh;
// }

.form-swapit-up {
  width: 31.5vw;
  // color: $azul-claro;
}

.container-formularios-simples-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  margin-top: 15vh;
  // margin-left: -3.5vh;
}

.container-formularios-duplo {
  // background-color: black;
  display: flex;
  height: 87vh;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container-formularios-duplo-form {
  // background-color: black;
  display: flex;
  height: 87vh;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  background-color: transparent;
  margin: 0;
  height: 43px;
  padding: 6px 45px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid $azul-claro;
  display: inline-block;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl {
  background-color: transparent;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder--input {
  width: 31.5vw;
  max-width: 100%;
  min-width: 31.5vw;
}

.form-select {
  width: 25%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $azul-royal;
  background-size: 16px 12px;
  border: 1px solid $azul-claro;
  border-radius: 0;
  height: 37px;
}

.container-botao {
  width: 64.5vw;
  margin: 0 auto;
}
