legend ~ div.form-check:first-of-type {
  clear: left;
}

.form-swapit {
  width: 33%;
  // color: $azul-claro;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="file"],
input {
  // text-align: center;
  border-color: $azul-claro;
  // color: $azul-claro;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="file"]:focus,
input:focus {
  border-color: $azul-royal;
  color: $azul-royal;
}

.title {
  font-size: 25px;
  color: $azul-royal;
  text-align: left;
}

.container-formularios-simples {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
}

.container-formularios-duplo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
  flex-direction: column;
  width: 100%;
}

//////////@at-root

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  background-color: transparent;
  margin: 0;
  height: 43px;
  padding: 6px 45px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid $azul-claro;
  display: inline-block;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl {
  background-color: transparent;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder--input {
  width: 33vw;
  max-width: 100%;
  min-width: 33vw;
}
